* {
  box-sizing: border-box;
  margin: 0;
  /* padding: 0; */
  line-height: 1.5; /* межстрочный интервал */
}
.nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
  color: #fff;
  background: linear-gradient(to bottom right, #0079bf, #5067c5);
}
.descrip {
  color: #fff;
  padding: 10px 20%;
  text-align: left;
  font-weight: 500;
  font-size: medium;
  background: linear-gradient(to bottom right, #0079bf, #5067c5);
}

.nav_bar {
  background-color: #0079bf;
  display: none;
}

@media screen and (max-width: 500px) 
  {
    .nav_bar {display: block;}
    .reg_style {display: none;}
  }

.background-img {
  z-index: -1;
  background: linear-gradient(to bottom right, #0079bf, #5067c5);

}

@media screen and (max-width: 610px)
{
  .background-img {transform: scale(0.8);}
}

@media screen and (max-width: 530px)
{
  .background-img {transform: scale(0.6);}
}

@media screen and (max-width: 380px)
{
  .background-img {display: none;}
}

footer {
  display: flex;
  position: absolute;
  bottom: 0%;
  width: 100%;
  justify-content: center;
  padding: 15px;
}

.footer-img {
  width: 150px;
}
.anchor {
  position: fixed;
  bottom: 0%;
  right: 0;
}

/* Якорь на бэкграунд
.anchor {

}

.anchor a:link {
  color: white;
  }

.anchor a:visited {
  color: mintcream;
}

.anchor a:focus {
  background-color: white;
  color: black;
}

.anchor  a:hover {
  background-color: white;
  color: black;
} */

.reg_style {
  display: inline-flex;
  
}

.signin {

}

.signup {

}

.reg_style a:link {
    color: white;
    }

.reg_style a:visited {
    color: mintcream;
  }

.reg_style a:focus {
    background-color: white;
    color: black;
  }

 .reg_style  a:hover {
    background-color: white;
    color: black;
  }