@charset "UTF-8";
* {
  box-sizing: border-box;
  line-height: 1.5;
  /*межстрочный интервал*/
  text-align: center;
}

.background-pic_hidden {
  display: none;
  position: absolute;
  z-index: -1;
  /*если здесь поставить 0, а на конент бутстрапа на 1 больше, то ничего не работает. Поэтому просто убрал z-index у бутстрапа*/
  width: 90%;
  /*для выравнивания по центру*/
  bottom: 0;
}

.background-pic {
  display: block;
  padding: 0 0;
}

.bootstrap_cont {
  display: flex;
  padding: 10% 0;
  height: auto;
  justify-content: center;
}

@media screen and (max-width: 650px) and (max-height: 575px) {
  .background-pic {
    display: none;
  }

  .background-pic_hidden {
    display: block;
  }
}
@media screen and (max-width: 819px) {
  .background-pic {
    display: none;
  }

  .background-pic_hidden {
    display: block;
  }
}
@media screen and (max-height: 424px) {
  .background-pic {
    display: none;
  }

  .bootstrap_cont {
    justify-content: center;
  }

  .background-pic_hidden {
    display: block;
  }
}
.form-row {
  display: flex;
  width: 80%;
  padding: 0 10px;
}

.trello-logo-image {
  height: 30px;
  margin-top: 40px;
  margin-bottom: 40px;
  /* justify-content: center; не выравнивает лого по центру???? */
}

.background-pic {
  height: 100%;
  width: 100%;
}

.left {
  position: absolute;
  left: 0;
  bottom: 0;
}

.right {
  position: absolute;
  right: 0;
  bottom: 0;
}

/* Боковое меню */
.menu_btn {
  background-color: linear-gradient(to bottom right, #0079bf, #5067c5);
  display: none;
  cursor: pointer;
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
}

.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 ширина - изменить это с помощью JavaScript */
  position: fixed;
  /* Оставайтесь на месте */
  z-index: 1;
  /* Оставайтесь сверху */
  top: 0;
  /* Оставайтесь наверху */
  right: 0;
  background-color: #111;
  /* Фон черный*/
  overflow-x: hidden;
  /* Отключить горизонтальную прокрутку */
  padding-top: 60px;
  /* Поместите контент в 60px сверху */
  transition: 0.5s;
  /* 0.5 второй эффект перехода слайда в боковой навигации */
}

/* Ссылки меню навигации */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  text-align: left;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.closebtn {
  position: absolute;
  top: 0;
  left: 0px;
  font-size: 36px;
}

.closewin {
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  right: 250px;
}

/* На экранах меньшего размера, где высота меньше 450px, измените стиль sidenav (меньше отступов и меньший размер шрифта) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}
@media screen and (max-width: 500px) {
  .menu_btn {
    display: block;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  /* padding: 0; */
  line-height: 1.5;
  /* межстрочный интервал */
  font-family: "Charlie Text", sans-serif;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
  color: #fff;
  background: linear-gradient(to bottom right, #0079bf, #5067c5);
}

.descrip {
  color: #fff;
  padding: 10px 20%;
  text-align: left;
  font-weight: 500;
  font-size: medium;
}

/* Навигационное меню */
.reg_style {
  display: inline-flex;
}

@media screen and (max-width: 500px) {
  .reg_style {
    display: none;
  }
}
.background-img {
  position: relative;
  text-align: center;
}

@media screen and (max-width: 610px) {
  .background-img {
    transform: scale(0.8);
  }
}
@media screen and (max-width: 530px) {
  .background-img {
    transform: scale(0.6);
  }
}
@media screen and (max-width: 480px) {
  .background-img {
    transform: scale(0.4);
  }
}
@media screen and (max-width: 380px) {
  .background-img {
    display: none;
  }

  * h1 {
    font-size: medium;
  }
}
footer {
  display: flex;
  position: absolute;
  bottom: 0%;
  width: 100%;
  justify-content: center;
  padding: 15px;
}

.footer-img {
  width: 150px;
}

.anchor {
  position: fixed;
  bottom: 0%;
  right: 0;
}

.anchor {
  text-align: center;
  padding: 5px 5px;
}

/* .anchor a:link {
  color: white;
  }
.anchor a:visited {
  color: mintcream;
}
.anchor a:focus {
  background-color: white;
  color: black;
}
.anchor  a:hover {
  background-color: white;
  color: black;
} */
.signin {
  padding: 5px;
}

.signup {
  padding: 5px;
  background-color: #fff;
  border-radius: 5px;
  font-family: "Lato", sans-serif;
}

.signin a:link {
  color: white;
}

.signin a:visited {
  color: mintcream;
}

.signin a:focus {
  background-color: white;
  color: black;
}

.signin a:hover {
  background-color: white;
  color: black;
}

/*# sourceMappingURL=style.css.map */
