$primary-color: linear-gradient(to bottom right, #0079bf, #5067c5);
@import 'style_reg';
@import 'style_sidenav';

* {
  box-sizing: border-box;
  margin: 0;
  /* padding: 0; */
  line-height: 1.5; /* межстрочный интервал */
  font-family: "Charlie Text",sans-serif;
  text-align: center;
  user-select: none;
}
.nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
  color: #fff;
  background: $primary-color;
}
.descrip {
  color: #fff;
  padding: 10px 20%;
  text-align: left;
  font-weight: 500;
  font-size: medium;
}

/* Навигационное меню */
.reg_style {
  display: inline-flex;
}

.background-img {
  position: relative;
  text-align: center;
}

@media screen and (max-width: 610px)
{
  .background-img {transform: scale(0.8);}
}

@media screen and (max-width: 530px)
{
  .background-img {transform: scale(0.6);}
}

@media screen and (max-width: 480px)
{
  .background-img {transform: scale(0.4);}
}

@media screen and (max-width: 380px)
{
  .background-img {display: none;}
  * h1 {font-size: medium;}
}

@media screen and (max-width: 600px) 
{
  .menu_btn {display: block;}
  .reg_style {display: none;}
}

footer {
  display: flex;
  bottom: 0%;
  width: 100%;
  justify-content: center;
  padding: 15px;
}

.footer-img {
  width: 150px;
}
.anchor {
  position: fixed;
  bottom: 0%;
  right: 0;
}

.anchor {
  text-align: center;
  padding: 5px 5px;
}

/* .anchor a:link {
  color: white;
  }
.anchor a:visited {
  color: mintcream;
}
.anchor a:focus {
  background-color: white;
  color: black;
}
.anchor  a:hover {
  background-color: white;
  color: black;
} */


.signin {
  padding: 5px;
}

.signup {
  padding: 5px;
  background-color: #fff;
  border-radius: 5px;
  font-family: "Lato", sans-serif;
}

.signin a:link {
    color: white;
    }

.signin a:visited {
    color: mintcream;
  }

.signin a:focus {
    background-color: white;
    color: black;
  }

 .signin  a:hover {
    background-color: white;
    color: black;
  }